body{
    background-color:rgb(215, 225, 245);
}
h2{
    color:rgb(29, 29, 143);
}

body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

#banner {
    font: size 30px;
    text-align: center;
    border: 2px solid #1C6EA4;
    margin: 0 auto;
}